.navbar {
    background-color: rgb(223, 196, 161);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    color: #b35858;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav-link:hover {
    color: #dfd5c7;
  }